@import url(@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

.nav {
  overflow: hidden;
  width: 100%; 
  position: fixed;
  background-color:cadetblue;
}

.page-body {
  padding: 5%;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  font-weight: bold;
}

.nav a:hover {
  background-color: rgb(68, 116, 117);
}

body {
  margin: 0px;
  font-family: 'MonteCarlo', cursive;
}

.header {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url('jav.jpg');
  background-size: cover;
  background-position: center;

  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 5%;
  color: lightgrey;
  font-family: 'Monofett', cursive;
  font-size: 3rem;
}

.mets {
background: url(mets.jpg);
background-repeat: no-repeat;
background-size:110% 190%; 
color:white;
}

.degrom{
  background: url(degrom.jpg);
    background-size: 110% 500%;
      background-repeat: no-repeat;
      color: white
}



